In [1]:
import yfinance as yf
import pandas as pd
# import talib
import matplotlib.pyplot as plt
import datetime

In [2]:
stock = yf.Ticker("^GSPC")
data = yf.download("^GSPC", start="2000-01-01", end="2022-12-31")

[*********************100%***********************]  1 of 1 completed

In [3]:
data.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2000-01-03,1469.250000,1478.000000,1438.359985,1455.219971,1455.219971,931800000
2000-01-04,1455.219971,1455.219971,1397.430054,1399.420044,1399.420044,1009000000
2000-01-05,1399.420044,1413.270020,1377.680054,1402.109985,1402.109985,1085500000
2000-01-06,1402.109985,1411.900024,1392.099976,1403.449951,1403.449951,1092300000
2000-01-07,1403.449951,1441.469971,1400.729980,1441.469971,1441.469971,1225200000

In [5]:
stock = ["BTC-USD", "QQQ", "XLE", "AAPL", "XLI", "XTL", "XLU", "SMH", "XLB", "XLY", "XLP", "XLV", "XLF", "XLU", "IYR", "MSFT", "AMZN", "NVDA", "GOOGL", "BRK-B", "GOOG", "META", "XOM", "UNH","JNJ","JPM", "V", "PG", "MA", "CVX", "HD", "ABBV", "LLY"]
data = yf.download(stock, start="2000-01-01", end="2022-12-31")

[*********************100%***********************]  32 of 32 completed

In [6]:
data.head(20)

           Adj Close                                                          \
                AAPL ABBV      AMZN      BRK-B BTC-USD        CVX GOOG GOOGL
Date
2000-01-03  0.850643  NaN  4.468750  35.299999     NaN  17.849825  NaN   NaN
2000-01-04  0.778925  NaN  4.096875  34.080002     NaN  17.849825  NaN   NaN
2000-01-05  0.790324  NaN  3.487500  34.639999     NaN  18.170015  NaN   NaN
2000-01-06  0.721931  NaN  3.278125  36.080002     NaN  18.943762  NaN   NaN
2000-01-07  0.756127  NaN  3.478125  36.400002     NaN  19.277273  NaN   NaN
2000-01-10  0.742829  NaN  3.459375  36.259998     NaN  18.756996  NaN   NaN
2000-01-11  0.704832  NaN  3.337500  35.580002     NaN  18.583569  NaN   NaN
2000-01-12  0.662562  NaN  3.178125  34.900002     NaN  18.516865  NaN   NaN
2000-01-13  0.735229  NaN  3.296875  35.200001     NaN  18.690292  NaN   NaN
2000-01-14  0.763251  NaN  3.212500  34.020000     NaN  18.570232  NaN   NaN
2000-01-18  0.789849  NaN  3.206250  34.000000     NaN  19.063831  NaN   NaN
2000-01-19  0.809798  NaN  3.340625  34.180000     NaN  18.770330  NaN   NaN
2000-01-20  0.862517  NaN  3.237500  34.000000     NaN  18.676952  NaN   NaN
2000-01-21  0.845894  NaN  3.103125  34.220001     NaN  18.903744  NaN   NaN
2000-01-24  0.807423  NaN  3.506250  34.000000     NaN  18.957106  NaN   NaN
2000-01-25  0.853018  NaN  3.462500  34.060001     NaN  18.903744  NaN   NaN
2000-01-26  0.837345  NaN  3.240625  34.139999     NaN  18.730324  NaN   NaN
2000-01-27  0.835920  NaN  3.346875  33.919998     NaN  17.996576  NaN   NaN
2000-01-28  0.772276  NaN  3.084375  33.200001     NaN  17.623037  NaN   NaN
2000-01-31  0.788424  NaN  3.228125  32.919998     NaN  17.849825  NaN   NaN

                           ...     Volume                                  \
                   HD IYR  ...        XLB        XLE        XLF       XLI
Date                       ...
2000-01-03  40.629646 NaN  ...   140500.0   380300.0  1185699.0   82800.0
2000-01-04  38.487133 NaN  ...   258000.0   722200.0   885705.0  146900.0
2000-01-05  39.266220 NaN  ...   102700.0   337800.0   717181.0  129200.0
2000-01-06  37.396416 NaN  ...  1335000.0   133100.0   415832.0   54000.0
2000-01-07  39.577858 NaN  ...   620100.0   468000.0   468149.0   32900.0
2000-01-10  39.383095 NaN  ...   171200.0   122100.0   460640.0  122500.0
2000-01-11  38.370293 NaN  ...    39700.0   144800.0   476151.0  109800.0
2000-01-12  38.058640 NaN  ...   135300.0    57300.0   143288.0   39900.0
2000-01-13  38.720863 NaN  ...    45900.0   149200.0  1104576.0  189700.0
2000-01-14  38.604008 NaN  ...    76000.0    35700.0   731583.0    5700.0
2000-01-18  37.708042 NaN  ...    34400.0   110500.0   466180.0   83600.0
2000-01-19  38.565033 NaN  ...   125700.0   190300.0   339510.0   62800.0
2000-01-20  37.902817 NaN  ...    99400.0   344300.0   588172.0   49600.0
2000-01-21  37.396416 NaN  ...   180100.0   483300.0   498309.0   45700.0
2000-01-24  36.149857 NaN  ...   190900.0   296500.0   346773.0   51600.0
2000-01-25  34.981220 NaN  ...    63400.0    57800.0   231674.0   89700.0
2000-01-26  35.760323 NaN  ...   300700.0    46900.0   630518.0   93400.0
2000-01-27  36.305698 NaN  ...    54300.0  1688800.0   262572.0  156000.0
2000-01-28  34.669590 NaN  ...    29400.0    33100.0   170986.0   17600.0
2000-01-31  35.292850 NaN  ...    16300.0   101600.0   541763.0   45700.0


                 XLP       XLU       XLV       XLY         XOM XTL
Date
2000-01-03  634300.0  176700.0  246700.0  212900.0  13458200.0 NaN
2000-01-04  172000.0   93500.0   35300.0  177200.0  14510800.0 NaN
2000-01-05  343600.0  273400.0  137600.0  124600.0  17485000.0 NaN
2000-01-06  420800.0   34500.0   50000.0  135800.0  19461600.0 NaN
2000-01-07  337100.0   46200.0   22100.0   70000.0  16603800.0 NaN
2000-01-10  451700.0   15500.0   31800.0   41900.0   8545400.0 NaN
2000-01-11  142900.0   25700.0   17900.0   29600.0   8722600.0 NaN
2000-01-12   84300.0   36700.0   12400.0   53100.0  10314200.0 NaN
2000-01-13  233800.0  139600.0  600000.0   70600.0  12056000.0 NaN
2000-01-14   76100.0   45700.0   23600.0  102600.0  11268800.0 NaN
2000-01-18  218300.0   46000.0  417300.0   53800.0  11929400.0 NaN
2000-01-19  137800.0   26000.0   10400.0  113800.0  13088800.0 NaN
2000-01-20  425500.0  112500.0   64200.0  161400.0   9613400.0 NaN
2000-01-21  345000.0  201100.0   37300.0  170200.0  14343600.0 NaN
2000-01-24  278200.0   64300.0   72100.0    5100.0  12459400.0 NaN
2000-01-25   85000.0   56900.0   24400.0   63000.0  11921600.0 NaN
2000-01-26  385500.0   31400.0   10500.0   38100.0   9298000.0 NaN
2000-01-27   67800.0   18700.0   10700.0  119100.0  10548400.0 NaN
2000-01-28   37100.0   28400.0   18100.0   12400.0  10361000.0 NaN
2000-01-31  195800.0  414800.0   27500.0   10800.0  14612200.0 NaN

[20 rows x 192 columns]

In [7]:
data["Close"].to_csv('Securities.csv', encoding='utf-8')
# ta.to_csv('Technical_Indicators.csv', encoding='utf-8')